/* Table */
.table {
  border-collapse: collapse;
  margin: 10px;
  thead {
    background-color: #2c5e77;
    color: #fff;
    td {
      font-weight: bold;
      font-size: 1.6rem;
      text-transform: uppercase;
      // border-bottom: 2px solid #7c7979;
      // background-color: #e7e6e5;
      // padding: 5px 20px 5px 15px;
    }
  }
  tbody {
    background-color: #ecf5f9;
    tr {
      background-color: #ecf5f9;
      &:nth-child(2n + 1) {
        background-color: #fafcfd;
      }
    }
  }
  td {
    border-bottom: 1px solid #c3c3c3;
    padding: 10px 20px 10px 15px;
    font-size: 1.8rem;

    &:last-child {
      text-align: right;
    }
    button {
      margin-left: 10px;
      padding: 5px 10px;
      cursor: pointer;
      border-radius: 5px;
      background-color: #fff;
      color: #2c5e77;
      font-size: 1.6rem;
    }
  }
}
