<h1 class="page-title">Contact List</h1>

<!-- Search -->
<input placeholder="Search..." class="search" />

<!-- Table -->
<table class="table">
  <thead>
    <tr>
      <td>First name</td>
      <td>Last name</td>
      <td></td>
    </tr>
  </thead>
  <tr>
    <td>Henri</td>
    <td>Kokou</td>
    <td>
      <button>Edit</button>
      <button>Delete</button>
      <button>Details</button>
    </td>
  </tr>
  <tr>
    <td>Amadou</td>
    <td>Ndiaye</td>
    <td>
      <button>Edit</button>
      <button>Delete</button>
      <button>Details</button>
    </td>
  </tr>
</table>
<!-- Form -->
<form novalidate class="form">
  <div class="form-row">
    <label for="lastName">Last name</label>
    <input id="lastName" type="text">
  </div>
  <div class="form-row">
    <label for="firstName">First name</label>
    <input id="firstName" type="text">
  </div>
  <div class="form-row">
    <label for="phoneNumber">Phone number</label>
    <input id="phoneNumber" type="text">
  </div>
  <div class="form-buttons">
    <button type="submit">Submit</button>
    <button type="reset">Reset</button>
  </div>
</form>
<!-- Details -->
<div class="details">
  <div class="details-row">
    <div class="label">Last name :</div>
    <div class="value">Henri</div>
  </div>
  <div class="details-row">
    <div class="label">First name :</div>
    <div class="value">Kokou</div>

  </div>
  <div class="details-row">
    <div class="label">Phone number :</div>
    <div class="value">+22570000000</div>
  </div>
</div>