/* You can add global styles to this file, and also import other style files */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  font-size: 10px;
  color: #434242;
}

.red {
  color: red;
}
.green {
  color: green;
}
